* {
    box-sizing: border-box;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}
/*Header*/
.header{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 70px;
}
.menu_button{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}
.logo{
    margin-right: 50px;
}
.menu_line{
    display: block;
    border-radius: 20px;
    background-color: #1F2022;
    width: 20px;
    height: 3px;
}
.input_group{
    background: #EBEBEB;
    border-radius: 22px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding-right: 17px;
    max-width: 830%;
    width: 50%;

}
.input_search{
    border: none;
    background-color: transparent;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 23px;
}
.button_search{
    padding: 0;
    width: 19px;
    height: 19px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.icon_search{
    fill: #000;

}
.icons{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icons_link{
   text-decoration: none;
   opacity: 0.24;
}
.icons_link:hover{
    opacity: 0.7;
}
.icons_link:not(:last-child){
    margin-right: 50px;
}
.user{
    margin-left: 45px;
}
.user_avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}